.App {
  text-align: center;
  height: 100vh;

}
.main-bg {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #c4c4c4;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.body {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.LoginContainer {
  margin: 0 auto;
  width: 400px;
  height: 500px;
  display: grid;
  
  place-items: center;
}
.LoginContainer img {
  width: 50%;
}

.SignUpContainer {
  margin: 0 auto;
  width: 400px;
  height: 500px;
  display: grid;
  place-items: center;
}
.SignUpContainer img {
  width: 50%;
}
.Header {
  width: 100%;
  height: 200px;
  
}

.header-name {
  cursor: pointer;
}
.header-name:hover {
  color: #0a58ca;
}
.PHeader {
  border-bottom: 2px solid #c4c4c4;
}

.m-8 {
  margin: 8px
}